.flex {
  flex-grow: 1;
}

.token {
  margin: 20px;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px;
  overflow-wrap: break-word;

  .header {
    color: #fb015b;
  }

  .body {
    color: #d63aff;
  }

  .signature {
    color: #00b9f1;
  }
}

.cnt {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  padding: 20px;
  button + button {
    margin-left: 20px;
  }
}

.response,
.error {
  margin: 20px;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px;
  overflow-wrap: break-word;
}

.error {
  border: 1px solid red;
}
